
body {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 18%, rgba(0,0,0,0.33) 58%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 18%,rgba(0,0,0,0.33) 58%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 18%,rgba(0,0,0,0.33) 58%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    margin: 0 0;
    font-family: Merriweather;
    color: rgb(68, 68, 68);
}

h1,
h2,
h3 {
    color: black;
}

#header {
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#obsah,
#kontakt-container,
#o_firme {
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
min-height: 81vh;
padding-bottom: 15px; 
}


#footer {
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
text-align: center;
}

p,
li, 
li ul{
    font-size: 1.3em;
}


/*HEADER START*/

#logo {
    height: 50px;
    width: auto;
    margin: 10px 0px 10px 10px;
    padding: 0;
}


.topnav ul {
display: none;
}

.topnav a.icon {
float: right;
display: block;
color: white;
height: 100%;
margin: 20.75px 10px 20.75px 0px;
-webkit-tap-highlight-color:transparent;
-moz-tap-highlight-color:transparent;
-o-tap-highlight-color:transparent;
}

.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}

.topnav.responsive ul {
float: none;
display: block;
}

.topnav ul a {
color: white;
text-decoration: none;
list-style: none;
}

.topnav ul  {
margin: 0;
padding: 0;
text-align: center;
}

.topnav ul a li {
padding-top: 5px;
padding-bottom: 5px;
text-transform: uppercase;
letter-spacing: 2px;
}

.active {
    color: #a1dbff;
}


/*HEADER END*/

.box {
    width: 80vw;
    position: relative;
    margin-top: 15px;
    flex-shrink: 0;
}

.img {
    height: auto;
    width: 100%;
    min-width: 0;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(120, 161, 168, 0.8);
    color: #f1f1f1; 
    width: 100%;
    transition: .8s ease;
    font-size: 20px;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
}

/*kontakt.html START*/
#kontakt-container {
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
}

#kontakt {
    width: 95%;
    margin: 0 auto;
}

#map {
    height: 70vw; 
    width: 95%;
    align-self: center;
    margin-bottom: 20px; 
    margin-top: 20px;
}

#kontakt ul li {
    text-decoration: none;
    color: black;
}
/*kontakt.html END*/

#o_firme_container {
    width: 90%;
    padding-top: 20px;
}

#partneri {
    width: 90%;
}

.loga {
    width: 300px;
}

#obsah {
    padding-top: 30px;
}

.kamera-img {
    height: auto;
    width: 100%;
}

#mail {
    font-size: 1.3em;
    color: rgb(68, 68, 68);
}

.kamery-img,
#zaznamnik-img {
    text-align: center;
    position: relative;
    max-width: 450px;
    margin: 30px auto;
}

.overlay2 {
    position: absolute; 
    bottom: 0; 
    background: rgb(120, 161, 168, 0.8);
    color: #f1f1f1; 
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin: 0;
    letter-spacing: 2px;
}

#index-ul a{
    color: black;
}

.ezs-img {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 100%;
}


  @media (min-width: 768px) {
     /*HEADER START*/

    #zoznam a:hover {
        color: #a1dbff;
        transition: .2s ease;
    }
    
    #header {
        display: flex;
        justify-content: center;
    }

    .topnav ul {
        display: flex;
        align-items: flex-end;
        margin-right: 1.5vw;
        margin-bottom: 1vw;
    }
       
    .topnav ul a li{
        margin-left: 20px;
        margin-right: 0px;
        padding-bottom: 0;
    }
        
    .topnav a.icon {
        display: none;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-content: flex-end;
    } 

    #logo {
        width: 10vw;
        height: auto;
        margin: 1vw 0 1vw 1vw;
    }
     
    .loga {
        max-height: 76px;
        width: auto;
        margin-right: 50px;
    }
    /*HEADER END*/

    .overlay {
        opacity: 0;
        font-size: 0.8em;
    }

    .box:hover .overlay {
        opacity: 1;
    }

    .box:hover {
        -webkit-box-shadow: 10px 10px 5px 2px rgba(138,126,138,0.53);
        -moz-box-shadow: 10px 10px 5px 2px rgba(138,126,138,0.53);
        box-shadow: 10px 10px 5px 2px rgba(138,126,138,0.53);
        transition: .5s ease;
    }

    body {
        width: 80vw;
        margin: 0 auto;
    }

    #box3, 
    #box4, 
    #box5 {
        flex-basis: 25%;
        margin: 10px;
    }

    #box1, 
    #box2 {
        flex-basis: 35%;
        margin: 30px;
    }

    #obsah {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        justify-items: flex-start;
        align-content: flex-start;
        padding-top: 20px;
        min-height: 40vh;
    }

 /*kontakt.html START*/
#kontakt-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

#map {
    height: 60vh; 
    width: 40vw;
    align-self: flex-start;
    margin: 21.440px 20px 0 0; 
}

#kontakt ul li {
    text-decoration: none;
    color: black;
}
/*kontakt.html END*/

#kamery-img {
    display: flex;
    align-items: flex-end;
}

  }

  @media (min-width: 1200px) {
    .overlay {
        font-size: 1.5em;
    }

  @media (min-width: 1550px) {
      
    .topnav ul a li {
        font-size: 1.5em;
  }

    .overlay {
        font-size: 2em;
    }
}
  @media (min-width: 1200px) {

    #box3, 
    #box4, 
    #box5 {
        margin: 40px;
    }
  
}